.btn {
  background-color: purple;
  border-color: yellow;
  color: white;
}
.newClass {
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(172, 95, 227);
}

.hide {
  display: none;
}
