body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#navbarNav {
  background-color: purple;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

a.nav-link:hover {
  color: yellow;
}

/* html {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
} */
